body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Playfair", serif;
}
.footer-heading {
  font-family: "Playfair", serif;
  font-size: 16px;
}
.force-show {
  opacity: 1 !important;
  visibility: visible !important;
}
#mobile-menu {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-overlay {
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
#mobile-properties-menu {
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
#mobile-properties-menu.open {
  max-height: 250px;
  opacity: 1;
}
.nav-link {
  position: relative;
  display: inline-block;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::after,
.group:hover .nav-link::after {
  width: 100%;
}
